<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Dancing+Script:wght@700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<% if (data.metadata) { %>
    <% data.metadata.forEach(function(tag) { %>
        <% if (tag.name.startsWith('og:') || tag.name.startsWith('twitter:')) { %>
            <meta property="<%= tag.name %>" content="<%= tag.content %>" />
            <% } else { %>
                <meta name="<%= tag.name %>" content="<%= tag.content %>" />
                <% } %>
                    <% }); %>
                        <% } %>

                            <title>
                                <%= data.metadata?.find(x=> x.name === 'title')?.content || 'Dank Movies' %>
                            </title>

                            <link href="<%=asset('/app.css')%>" rel="stylesheet" />
                            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />